:root {
    max-width: 1136px;
    margin: auto;
    
}
body{
    min-width: 616px;
    padding: 0px 0px;
    margin: 0px;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    padding: 16px 64px 0px 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    border: 2px solid red;
}
header .header-company-title{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 16px;
    font-size: 24px;
    color: #F9FAF8;
}
header img {
    width: 64px;
    height: auto;
    flex: 0;
}
header ul {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 16px;
}
li {
    list-style: none;    
    font-size: 18px;
    color: #E5E7EB;
}

.first-intro {
    padding: 64px 64px;
    display: flex;
    justify-content: center;
    align-items: start;
    background-color: #1F2937;
    border: 2px solid yellow;
}
.first-intro img, .first-intro .text{
    flex: 1;
}
.first-intro img{
    min-width: 346px;
    height: auto;
    border: 2px solid green;
}
.first-intro h1 {
    border: 2px solid black;
    margin: 0px;
    padding: 0px;
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}
.first-intro p {
    padding: 0px;
    margin: 0px;
    color: #E5E7EB;
}
.first-intro .text{
    max-width: 346px;
    display:flex;
    flex-direction: column;
    align-items: start;
    font-size: 18px;
    border: 2px solid purple;
}
.first-intro button {
    background-color: #3882F6;
    border: 1px solid #3882F6;
    border-radius: 8px;
    padding: 0px 16px;
    margin-top: 8px;
    color:#F9FAF8;
    font-weight: bold;
}

.second-info {
    padding: 0px 128px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F9FAF8;
}
.second-info h2 {
    text-align: center;
    padding: 0px;
    margin-top: 32px;
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    border: 2px solid yellow;

}
.second-info .card-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: start;
    gap: 32px;
    padding: 0px 32px;
    margin-bottom: 64px;
    border: 2px solid red;
}
.card {
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border: 2px solid red;

}
.card p {
    margin-top: 8px;
    text-align: center;
    font-size: 18px;
    color: #1F2937;
    border: 2px solid #3882F6;
}
.card img {
    width: 100%;
    height: auto;
    border-radius: 14px;
    border: 2px solid #3882F6;
}

.third-testimonial {
    padding: 64px 0px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    border: 2px solid blue;
}
.testimonial, .author {
    max-width: 600px;
}
.testimonial {
    margin: 0px;
    text-align: left;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    border: 2px solid red;
}
.author {
    margin: 0px;
    text-align: right;
    font-size: 24px;
    font-weight: bold;
    border: 2px solid yellow;
}

.fourth-sign-up {
    padding: 64px 32px;
    margin: 0px;
    display: flex;
    justify-content: center;
    background-color: #F9FAF8;
}
.sign-up-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 400px;
    width: 600px;
    padding: 32px 96px;
    margin: 0px;
    background-color: #3882F6;
    border-radius: 8px;
}
.sign-up-promo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border: 1px solid #F9FAF8;

}
.sign-up-promo h4 {
    padding: 0px;
    margin: 0px;
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    border: 1px solid #F9FAF8;

}
.sign-up-promo p {
    padding: 0px;
    margin: 0px;
    font-size: 18px;
    color: #E5E7EB;
    border: 1px solid #F9FAF8;

}
.fourth-sign-up button {
    padding: 0px 16px;
    text-align: center;
    background-color: #3882F6;
    border: 1px solid #F9FAF8;
    border-radius: 8px;
    color:#F9FAF8;
    font-weight: bold;
}

footer {
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color:#F9FAF8;
    font-size: 18px;
}